NET "byte<0>" LOC = P11 | IOSTANDARD = LVTTL;
NET "byte<1>" LOC = P12 | IOSTANDARD = LVTTL;
NET "byte<2>" LOC = P14 | IOSTANDARD = LVTTL;
NET "byte<3>" LOC = P15 | IOSTANDARD = LVTTL;
NET "byte<4>" LOC = P16 | IOSTANDARD = LVTTL;
NET "byte<5>" LOC = P17 | IOSTANDARD = LVTTL;
NET "byte<6>" LOC = P21 | IOSTANDARD = LVTTL;
NET "byte<7>" LOC = P22 | IOSTANDARD = LVTTL;

NET "load" LOC = P23      | IOSTANDARD = LVTTL;
NET "request_to_send" LOC = P24 | IOSTANDARD = LVTTL;
NET "test1" LOC = P1      | IOSTANDARD = LVTTL;
NET "test2" LOC = P123      | IOSTANDARD = LVTTL;